{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Rammohan-Hospital Admin Dashboard</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
	<link href="{% static 'vendor/jqvmap/css/jqvmap.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'vendor/chartist/css/chartist.min.css' %}">
    <link href="{% static 'vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
	<link href="{% static 'vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>

   
	
	<!--
		   <title>IN-PATIENT BILLINGS</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'css/style1.css' %}">

	
	<link rel="stylesheet" href="{% static 'css/tooplate-style.css' %}">
-->	
    <script type="text/javascript">
		function caltotal()
		{
			var a=parseInt(document.getElementById('vaccost').value);
			t=a;
			document.getElementById('total').value=t;
		}
	</script>
	</head>
	<body>
		<div id="main-wrapper"><!--header starts-->
			{% include "header.html" %}
			<!--Header ends-->
	   
			   
		   
			   <!--Sidebar start ****-->
			   {% include "sidebar.html" %}
			   <!--***** Sidebar end **-->


			   <div class="content-body">
				<div class="container-fluid">
					<div class="page-titles">
						<h4>Patient Bill</h4>
						
					</div>
	
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Vaccination Bill</h4>
								</div>
						<div class="card-body">
							<div class="form-validation">
								
									<form class="form-valide" id="f1" method="POST">
										{% csrf_token %}
									<div class="row">
										<div class="col-xl-6">
											<div class="form-group row">
												<label class="col-lg-4 col-form-label" for="val-username">Registration Id
													{% for x in patient %}
													<span class="text-danger">*</span>
												</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="rid" name="rid" style="color:black"  value="{{x.rid}}">
												</div>
											</div>
											
											
											
											<div class="form-group row">
												<label class="col-lg-4 col-form-label" for="val-username">Appointment Id
													<span class="text-danger">*</span>
												</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="aid" name="aid" style="color:black" value="{{x.aid}}">
												</div>
											</div>

											<div class="form-group row">
												<label class="col-lg-4 col-form-label" for="val-username">Patient Name
													<span class="text-danger">*</span>
												</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="cname" name="cname" style="color:black" value="{{x.cname}}">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-lg-4 col-form-label" for="val-username">Appointment Date
													<span class="text-danger">*</span>
												</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="cdate" name="cdate" style="color:black" value="{{x.cdate}}">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-lg-4 col-form-label" for="val-username">Date of Birth
													<span class="text-danger">*</span>
												</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="dob" name="dob" style="color:black" value="{{x.dob}}">
												</div>
											</div>
											
											
											<div class="form-group row">
												<label class="col-lg-4 col-form-label" for="val-username">Age
													<span class="text-danger">*</span>
												</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="age" name="age" style="color:black" value="{{x.age}}">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-lg-4 col-form-label" for="val-username">Father Name
													<span class="text-danger">*</span>
												</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="fname" name="fname" style="color:black" value="{{x.fname}}">
												</div>
											</div>
                                            <div class="form-group row">
												<label class="col-lg-4 col-form-label" for="val-username">Mother Name
													<span class="text-danger">*</span>
												</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="mname" name="mname" style="color:black" value="{{x.mname}}">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-lg-4 col-form-label" for="val-username">Phone Number
													<span class="text-danger">*</span>
												</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="phone" name="phone" style="color:black" value="{{x.phone}}">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-lg-4 col-form-label" for="val-username">Email Id
													<span class="text-danger">*</span>
												</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="mail" name="mail" style="color:black" value="{{x.mail}}">
												</div>
											</div>
											</div>
											
											<div class="col-xl-6">
												<div class="form-group row">
													
														<h4 class="card-title">Generate bill</h4>
													
													<div class="col-lg-6">
														</div>
													</div>
                                                    <div class="form-group row">
                                                        <label class="col-lg-4 col-form-label" for="val-username">Vaccine Id
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <div class="col-lg-6">
                                                            <input type="text" class="form-control" id="vacid" name="vacid" style="color:black" value="{{x.vacid}}">
                                                        </div>
                                                    </div>
											
                                                    <div class="form-group row">
                                                        <label class="col-lg-4 col-form-label" for="val-username">Vaccine Name
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <div class="col-lg-6">
                                                            <input type="text" class="form-control" id="vacname" name="vacname" style="color:black" value="{{x.vacname}}">
                                                        </div>
                                                    </div>
                                                    {% endfor %}
											<div class="form-group row">
												<label class="col-lg-4 col-form-label" for="val-username">Vaccine Cost
													<span class="text-danger">*</span>
												</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="vaccost" name="vaccost" style="color:black" onchange="caltotal()" value="0">
												</div>
											</div>
											
											<div class="form-group row">
												<label class="col-lg-4 col-form-label" for="val-username">Total Cost
													<span class="text-danger">*</span>
												</label>
												<div class="col-lg-6">
													<input type="text" class="form-control" id="total" name="total" style="color:black" onchange="caltotal()" value="0">
												</div>
											</div>
											
										
											<div class="form-group row">
												<label class="col-lg-4 col-form-label"><a
														href="javascript:void()">Confirmation </a> <span
														class="text-danger">*</span>
												</label>
												<div class="col-lg-8">
													<label class="css-control css-control-primary css-checkbox" for="val-terms">
														<input type="checkbox" class="css-control-input mr-2"
															id="val-terms" name="val-terms" value="1">
														<span class="css-control-indicator"></span> I confirm</label>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-lg-8 ml-auto">
													<button type="submit" class="btn btn-primary">Submit</button>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			
	





</div>
</div>

					<div class="footer">
						<div class="copyright">
							<p>Copyright © Designed &amp; Developed by <a href="http://dexignzone.com/" target="_blank">DexignZone</a> 2020</p>
						</div>
					</div>
					</div>
					<script src="{% static 'vendor/global/global.min.js' %}"></script>
						<script src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
						<script src="{% static 'vendor/chart.js/Chart.bundle.min.js' %}"></script>
						<script src="{% static 'js/custom.min.js' %}"></script>
						<script src="{% static 'js/deznav-init.js' %}"></script>
						<script src="{% static 'vendor/bootstrap-datetimepicker/js/moment.js' %}"></script>
						<script src="{% static 'vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>	<!-- Chart piety plugin files -->
						<!-- Chart piety plugin files -->
						<script src="{% static 'vendor/peity/jquery.peity.min.js' %}"></script>
						
						<!-- Apex Chart -->
						<script src="{% static 'vendor/apexchart/apexchart.js' %}"></script>
						
						<!-- Dashboard 1 -->
						<script src="{% static 'js/dashboard-1.js' %}"></script>
						<script>
							$(function () {
								$('#datetimepicker1').datetimepicker({
									inline: true,
								});
							});
						</script>
			
					<script src="{% static 'js/jquery.min.js' %}"></script>
			  <script src="{% static 'js/popper.js' %}"></script>
			  <script src="{% static 'js/bootstrap.min.js' %}"></script>
			  <script src="{% static 'js/main.js' %}"></script>

<!-- Jquery Validation -->
<script src="{% static 'vendor/jquery-validation/jquery.validate.min.js' %}"></script>
<!-- Form validate init -->
<script src="{% static 'js/plugins-init/jquery.validate-init.js' %}"></script>


			</body>
			</html>
			








					