   {% load static %}
   
   <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="{% url 'admin_index' %}" class="brand-logo">
               <img class="logo-abbr" src="{% static 'images/ourlogo.png' %}" alt="">
                <img class="logo-compact" src="{% static 'images/logo-text.png' %}" alt="">
                
				<img class="brand-title" src="{% static 'images/logo-text.png' %}" alt="">
				<!--
				<b style="font-size:20px; color: #cc2e2e">Rammohan children's Hospital</b>
            -->
			</a>


            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
					
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
<div class="header">
    <div class="header-content">
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse justify-content-between">
                <div class="header-left">
                    <div class="dashboard_bar">


    <b style="font-size:50px; color:#007A64">Rammohan Children's Hospital </b>
    
                </div>
                </div>
                </div>
                </nav>
                </div>
                </div>