{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Rammohan-Hospital Admin Dashboard</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
	<link href="{% static 'vendor/jqvmap/css/jqvmap.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'vendor/chartist/css/chartist.min.css' %}">
    <link href="{% static 'vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
	<link href="{% static 'vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="main-wrapper"><!--header starts-->
		{% include "header.html" %}
		<!--Header ends-->
   
		   
	   
		   <!--Sidebar start ****-->
		   {% include "sidebar.html" %}
		   <!--***** Sidebar end **-->



           <br>
           <br><br>
           <br>
           <br>
           <br>
           <br>
           <br><br>
           <br>
           <br>
           <br>
           <center style="font-size:25px; color:black">Patient edited to in-patient successfully
           <br>
           To go back <u><a href="{% url 'managestatus' %}">CLICK HERE</u></a>
        </center>

</div>
          
       
        <script src="{% static 'vendor/global/global.min.js' %}"></script>
            <script src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
            <script src="{% static 'vendor/chart.js/Chart.bundle.min.js' %}"></script>
            <script src="{% static 'js/custom.min.js' %}"></script>
            <script src="{% static 'js/deznav-init.js' %}"></script>
            <script src="{% static 'vendor/bootstrap-datetimepicker/js/moment.js' %}"></script>
            <script src="{% static 'vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>	<!-- Chart piety plugin files -->
            <!-- Chart piety plugin files -->
            <script src="{% static 'vendor/peity/jquery.peity.min.js' %}"></script>
            
            <!-- Apex Chart -->
            <script src="{% static 'vendor/apexchart/apexchart.js' %}"></script>
            
            <!-- Dashboard 1 -->
            <script src="{% static 'js/dashboard-1.js' %}"></script>
            <script>
                $(function () {
                    $('#datetimepicker1').datetimepicker({
                        inline: true,
                    });
                });
            </script>
        
            <script src="{% static 'js/jquery.min.js' %}"></script>
          <script src="{% static 'js/popper.js' %}"></script>
          <script src="{% static 'js/bootstrap.min.js' %}"></script>
          <script src="{% static 'js/main.js' %}"></script>
        
        </body>
        </html>